.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main__apology {
    max-width: 1000px;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    margin-top: 50px;
}

.main__header {
    font-size: 40px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
}

.scroller {
    /* border: 3px solid lime; */
    padding-left: 30px;
    max-height: 450px;
    overflow: scroll;
    mask-image: linear-gradient(180deg, transparent, white 5%, white 90%, transparent),
                linear-gradient(to right, transparent, white 5%, white 95%, transparent);
    -webkit-mask-image: linear-gradient(180deg, transparent, white 5%, white 90%, transparent),
                        linear-gradient(to right, transparent, white 5%, white 95%, transparent);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 550px;
    list-style-type: none;
}
