.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.header__container {
    display: flex;
    min-width: 200px;
    gap: 20px;
}

.header__button {
    font-size: 16px;
    border: none;
    background-color: #876bb0;
    padding: 0 10px 0;
    border-radius: 5px;
    cursor: pointer;
    max-height: 30px;
    margin-top: 10px;
}

.header__button-nav {
    text-decoration: none;
    color: inherit;
    padding-top: 5px;
}

.header__button:hover {
    transform: scale(0.93);
}

.header__logo {
    background: transparent;
    width: 60px;
    height: 60px;
}

@media (max-width: 450px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .header__container {
        justify-content: center;
        gap: 50px;
    }

    .header__button {
        font-size: 18px;
    }

    .header__button-nav {
        text-align: center;
        width: 200px;
        height: 80px;
    }

    .header__logo {
        width: 80px;
        height: 80px;
    }
}
