.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__date {
    font-size: 14px;
}

.footer__link-container {
    display: flex;
    gap: 20px;
}

.footer__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer__button:hover {
    opacity: 80%;
}