@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./components/Header/Header.css');
@import url('./components/HomePage/HomePage.css');
@import url('./components/Topic/Topic.css');
@import url('./components/About/About.css');
@import url('./components/Authors/Authors.css');
@import url('./components/Contacts/Contacts.css');
@import url('./components/TasksList/TasksList.css');
@import url('./components/Footer/Footer.css');
@import url('./components/TipsPopup/TipsPopup.css');
@import url('./components/DiscussedTopics/DiscussedTopics.css');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  /* React root div */
    width: 100%;
}

body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 350px) {
  .page-container {
    padding: 10px;
  }
}