.author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
.author__card {
    width: 500px;
    align-self: center;
}

.author__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.author__title {
    text-align: center;
}

.author__subtitle {
    text-align:left;
    margin: 20px 0;
}

.author__p {
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 1.5;
}

@media (max-width: 650px) {
    .author__card {
        width: 400px;
    }
    .author__subtitle {
        font-size: 18px;
    }
    .author__p {
        font-size: 16px;
    }
    .author__title {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .author__card {
        width: 300px;
    }
    .author__subtitle {
        font-size: 16px;
    }
    .author__p {
        font-size: 14px;
    }
    .author__title {
        font-size: 20px;
    }
}